ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}
p{
  color:red;
}

.note{
  font-size: 20px;
}

#id-selector-demo{
  color:green;
}

li[value="4"]{
  color:rgb(2, 2, 71);
}

*{
  text-align: center;
}


/* Write your CSS below, don't change the rules above. */
