#red{
    color: red;
}
#blue{
    color:rgb(57, 135, 207);
}
#orange{
    color:orange;
}
#green{
    color:green;
}
#yellow{
    color:yellow;
}
.color-title{
    font-weight: normal;
}
img{
    width: 200px;
    height: 200px;
}